body {
    background-image: url('//unsplash.it/701/701');
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
}